<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste CORS</title>

    <script>

        // Realiza uma requisição GET
        fetch("http://localhost:8080")

            // Converte o retorno para um JSON
            .then(retorno => retorno.json())

            // Realiza a exibição dos clientes
            .then(retorno => console.log(retorno))

    </script>

</head>
<body>

</body>
</html>